<html>
   <body>
   
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Num Genes <input type = "text" name = "Genes" /></p>
         <p>Genes Length<input type = "text" name = "GLength" /></p>
         <p>Mutation rate <input type = "text" name = "Mutate" /></p>
         <p>Num Generations <input type = "text" name = "Generations" /></p>
         <p>Pop Size <input type = "text" name = "Population" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>